{% extends 'base.html' %}

{% block contenido %}

<h2>Propiedades</h2>

{% if perms.propiedades.add_propiedad %}
<a href="{% url 'crear_propiedad' %}">
    Nueva Propiedad
</a>
{% endif %}

{% for propiedad in propiedades %}

<div class="card">

    {% if propiedad.imagen %}
        <img
            src="{{ propiedad.imagen.url }}"
            width="250">
    {% endif %}

    <h3>{{ propiedad.titulo }}</h3>

    <p>{{ propiedad.descripcion }}</p>

    <p>${{ propiedad.precio }}</p>

    {% if perms.propiedades.change_propiedad %}
        <a href="{% url 'editar_propiedad' propiedad.id %}">
            Editar
        </a>
    {% endif %}

    {% if perms.propiedades.delete_propiedad %}
        <a href="{% url 'eliminar_propiedad' propiedad.id %}">
            Eliminar
        </a>
    {% endif %}

</div>

{% endfor %}

{% endblock %}